@use "@/styles/_variables.scss" as vars;

#subscription-wrapper {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    align-items: start;
    background: vars.$white;
    padding: 30px 40px;
    border: 1px solid vars.$footer-border;
    border-radius: 8px;
    font-family: vars.$font-stack;

    h1 {
        color: vars.$secondary-color;
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    #subscription-heading {
        font-weight: 500;
        color: vars.$tertiary-color;
        font-size: 20px;
    }
}


#subscription-plan-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
    width: 100%;

    h2 {
        font-weight: 500;
        font-size: 22px;
        color: vars.$tertiary-color;
    }

    li {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        gap: 5px;

        img {
            width: 14px;
            height: 14px;
        }
    }
}

#subscription-plans {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 15px;
}

#subscription-card {
    background: vars.$button-color;
    padding: 15px;
    border: 1px solid vars.$button-border-color;
    border-radius: 8px;
    cursor: pointer;
        transition: all 0.25s ease;

    p {
        text-align: left;
        font-size: 22px;
        color: vars.$secondary-color;
        margin-bottom: 10px;
        font-weight: 500;
    }

    ul>li {
        list-style: none;
        font-size: 15px;
        color: vars.$tertiary-color;
        margin-bottom: 10px;
    }

    &.selected {
        border-color: vars.$primary-color;
        background: vars.$primary-color; 
        box-shadow: 0 0 0 1px vars.$primary-color;
    
        p,
        .plan-price,
        .plan-frequency {
            color: vars.$secondary-color;
        }
    }
}

#plan-price-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: baseline;
    width: 100%;
}

.plan-price {
    text-align: left;
    color: vars.$secondary-color;
    font-weight: 900;
    font-size: 22px;
}

.plan-frequency {
    color: vars.$secondary-color;
    font-weight: 300;
    font-size: 14px;
}


#subscription-addons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    font-family: vars.$font-stack;
    gap: 20px;
    width: 100%;

    p {
        font-size: 22px;
        font-weight: 500;
        color: vars.$tertiary-color;
        margin-top: 20px;
    }

    button {
        color: vars.$secondary-color;
        padding: 15px;
        font-size: 20px;
    }

    #subscription-buttons {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
        align-items: start;
    }
}

#subscription-card-details {
    font-family: vars.$font-stack;
    font-size: 22px;
    font-weight: 500;
    color: vars.$tertiary-color;
    width: 100%;

    p {
        margin-bottom: 20px;
    }

    span {
        margin-top: 10px;
        color: vars.$placeholder-color;
        font-size: 15px;
        font-weight: 500;
    }
}

#subscription-help {
    font-family: vars.$font-stack;
    font-size: 20px;
    font-weight: 500;
    width: 100%;

    p {
        color: vars.$tertiary-color;
        margin-bottom: 20px;
    }

    a {
        color: vars.$primary-color;
    }
}