$primary-color: #00A3AD;
$secondary-color: #026786;
$tertiary-color:#4A4A4A;
$placeholder-color:#B2B2B2;
$button-color:#FCFCFC;
$button-border-color:#E6E6E6;
$button-yellow:#FFCD05;

$footer-border:#00000014;
$border-color:#E6E6E6;
$white:#FFFFFF;
$button-upload-white:#FCFCFC;
$font-stack: 'museo-sans-rounded', sans-serif;