$primary-color: #00A3AD;
$secondary-color: #026786;
$default-color:#4A4A4A;
$disabled-color:#B2B2B2;
$button-color:#FCFCFC;
$button-border-color:#E6E6E6;

$font-stack: 'museo-sans-rounded', sans-serif;