@use "@/styles/_variables.scss" as vars;

.wrapper {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    background: vars.$white;
    padding: 30px 40px;
    border: 1px solid vars.$footer-border;
    border-radius: 10px;
    font-family: vars.$font-stack;

    h1 {
        color: vars.$secondary-color;
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 10px;
    }
}

.subtitle {
    color: vars.$tertiary-color;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 500;
}

@media (max-width:768px) {
    .wrapper {
        padding: 0;
        width: auto;
        border: none;

         h1 {
            width: auto;
            font-size: 28px;
            font-weight: 900;
            margin-top: 15px;
        }
    }

    .subtitle {
        font-size: 18px;
    }
}