@use "@/styles/_variables.scss" as vars;

#subscription-wrapper {
    width: auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    align-items: start;
    background: vars.$white;
    padding: 30px 40px;
    border: 1px solid vars.$footer-border;
    border-radius: 8px;
    font-family: vars.$font-stack;

    h1 {
        color: vars.$secondary-color;
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    #subscription-heading {
        font-weight: 500;
        color: vars.$tertiary-color;
        font-size: 20px;
    }

    @media (max-width:768px) {
        justify-content: space-between;
        align-items: center;
        border: none;
        padding: 0;

        h1 {
            font-size: 28px;
            font-weight: 900;
        }

        #subscription-heading {
            font-size: 18px;
            margin-right: auto;
            margin-top: 20px;
        }

        .hide-sm {
            display: none;
        }
    }
}


#subscription-plan-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
    width: 100%;

    h2 {
        font-family: vars.$font-stack;
        font-weight: 500;
        font-size: 22px;
        color: vars.$tertiary-color;
    }

    li {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        gap: 5px;

        img {
            width: 14px;
            height: 14px;
        }
    }
}

#subscription-plans {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;

    p,
    li {
        font-family: vars.$font-stack;
        font-weight: 500;
    }

}

#subscription-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    background: vars.$button-color;
    padding: 15px;
    border: 1px solid vars.$button-border-color;
    border-radius: 8px;
    cursor: pointer;
    max-width: 400px;
    transition: all 0.25s ease;

    p {
        text-align: left;
        font-size: 22px;
        color: vars.$secondary-color;
        margin-bottom: 10px;
        font-weight: 500;
    }

    ul>li {
        list-style: none;
        font-size: 15px;
        color: vars.$tertiary-color;
        margin-bottom: 10px;
        text-align: left;
    }

    &.selected {
        border-color: vars.$primary-color;
        background: #00A3AD0D;
        box-shadow: 0 0 0 1px vars.$primary-color;

        p,
        .plan-price,
        .plan-frequency {
            color: vars.$secondary-color;
        }
    }
}

#plan-price-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: baseline;
    width: 100%;
    font-family: vars.$font-stack;

    .plan-price {
        text-align: left;
        color: vars.$secondary-color;
        font-weight: 900;
        font-size: 22px;
    }

    .plan-frequency {
        color: vars.$secondary-color;
        font-weight: 300;
        font-size: 14px;
    }

        @media (max-width:768px) {
            .plan-price{
                font-size: 20px;
            }
        }
}



#subscription-addons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    font-family: vars.$font-stack;
    gap: 20px;
    width: 100%;

    p {
        font-size: 22px;
        font-weight: 500;
        color: vars.$tertiary-color;
        margin-top: 20px;
    }

    button {
        color: vars.$secondary-color;
        padding: 15px;
        font-size: 20px;
    }

    #subscription-buttons {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
        align-items: start;

        @media (max-width:990px) {
            flex-direction: column;
        }
    }

    @media (max-width:768px) {
        p {
            font-size: 20px;
        }

        button {
            font-size: 18px;
            text-align: left;
        }
    }
}

#subscription-card-details {
    font-family: vars.$font-stack;
    font-size: 22px;
    font-weight: 500;
    color: vars.$tertiary-color;
    width: 100%;

    p {
        margin-top: 0px;
        margin-bottom: 20px;
    }

    span {
        margin-top: 10px;
        color: vars.$placeholder-color;
        font-size: 15px;
        font-weight: 500;
    }
}

#subscription-help {
    font-family: vars.$font-stack;
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    margin-top: 20px;

    p {
        color: vars.$tertiary-color;
        margin-bottom: 20px;
    }

    a {
        color: vars.$primary-color;
        font-weight: 700;
        font-size: 20px;
    }

        @media (max-width:768px) {
            p,a{
                font-size: 18px;
            }
        }

}


@media (max-width:1220px) {
    #subscription-plans {
        margin-top: -10px;
        grid-template-columns: repeat(2, 1fr);
        justify-items: start;
    }

}

@media (max-width:1000px) {
    #subscription-buttons {
        flex-direction: column;
    }
}

@media (max-width:900px) {
    #subscription-plans {
        width: 100%;
        margin-top: -10px;
        grid-template-columns: 1fr;
    }

    #subscription-card {
        width: 100%;
    }
}