@use "@/styles/_variables.scss" as vars;

#device-section-wrapper {
    width: 100%;
    padding: 0;
}

#device-byod,
#device-form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    >section {
        width: 100%;
    }

    #device-type-input,
    #device-form-serial-input label {
        font-family: vars.$font-stack;
        font-weight: 300;
        font-size: 16px;
        color: vars.$tertiary-color;

    }

    .device-type-input,
    .device-serial-input {
        text-align: left;
        width: 100%;
        padding: 15px;
        font-family: vars.$font-stack;
        box-sizing: border-box;
        border: 1px solid vars.$button-border-color;
        border-radius: 4px;
        font-size: 20px;
        color: vars.$tertiary-color;
        margin-top: 5px;
        cursor: auto;
        user-select: none;

        &:focus {
            border: 2px solid vars.$primary-color;
            outline: none;
        }

        &::placeholder {
            color: vars.$placeholder-color;
        }

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    #device-type-switch {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;

        .top-row {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        h3 {
            font-size: 20px;
            font-weight: 500;
            color: vars.$tertiary-color;
        }

        .hint {
            margin-top: 15px;
            font-size: 16px;
            font-weight: 500;
            color: vars.$tertiary-color;
        }

    }

    @media (max-width: 1024px) {
        grid-template-columns: 1fr;
    }
}

h2 {
    font-size: 22px;
    color: vars.$tertiary-color;
    margin-bottom: 15px;
    margin-top: 30px;
    font-weight: 500;
}

#device-form {
    #device-form-image-input {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;

        label {
            font-family: vars.$font-stack;
            color: vars.$tertiary-color;
            font-weight: 300;
            font-size: 16px;
        }

        .uploadBox {
            width: 335px;
            height: 160px;
            border: 2px solid vars.$button-border-color;
            background: vars.$button-color;
            border-radius: 4px;
            padding: 30px;
            text-align: center;
            cursor: pointer;
            position: relative;
            margin-top: 10px;
            transition: border 0.2s ease;

            &:hover {
                border-color: vars.$primary-color;
            }

            @media (max-width: 768px) {
                width: 100%;
            }
        }

        .device-image-input {
            position: absolute;
            inset: 0;
            opacity: 0;
            cursor: pointer;
        }

        .uploadText {
            color: vars.$secondary-color;
            text-decoration: underline;
            font-size: 16px;
            font-weight: 700;
        }

        .uploadedText {
            color: vars.$secondary-color;
            font-size: 16px;
            font-weight: 700;
        }
    }
}

.switch {
    position: relative;
    width: 46px;
    height: 24px;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: vars.$button-border-color;
    transition: 0.3s;
    border-radius: 30px;

    &:before {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        left: 3px;
        bottom: 3px;
        background: vars.$white;
        transition: 0.3s;
        border-radius: 50%;
    }
}

.switch input:checked+.slider {
    background-color: vars.$primary-color;
}

.switch input:checked+.slider:before {
    transform: translateX(22px);
}


.device-form-container {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: all 0.5s ease;
    margin-bottom: 30px;
}

.device-form-container.show {
    height: auto;
    opacity: 1;
    padding-top: 20px;
}

.device-form-container.hide {
    height: 0;
    opacity: 0;
    padding-top: 0;
}

@media (max-width:768px) {
    h2{
        margin-top: 20px;
    }
}