@use "@/styles/_variables.scss" as vars;

.card-input-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid vars.$placeholder-color;
    padding: 15px 20px;
    border-radius: 4px;
    gap: 12px;
    width: 100%;
    max-width: 420px;
    background: vars.$white;

    input {
        font-weight: 500;
        border: none;
        outline: none;
        font-size: 14px;
        font-family: vars.$font-stack;
        color: vars.$secondary-color;
        flex: 1;
        font-size: 18px;

        &::placeholder {
            color: vars.$placeholder-color;
        }
    }
}

.card-icon {
    color: vars.$placeholder-color;
    font-size: 18px;
}

.expiry {
    max-width: 60px;
    text-align: center;
}

.cvc {
    max-width: 50px;
    text-align: center;
}

@media (max-width:768px) {
    .card-input-wrapper {
        max-width: 400px;
        width: auto;
    }

    .card-icon {
        font-size: 14px;
    }
}

@media (max-width:492px) {
    .card-input-wrapper {
        padding: 15px 5px;
        gap: 0px;
        max-width: 300px;

        .card-number {
            max-width: 155px;
        }

        input {
            font-size: 16px;
        }
    }

    .expiry {
        max-width: 60px;
        text-align: left;
    }

    .cvc {
        max-width: 40px;
        text-align: left;
    }
}