@use "@/styles/_variables.scss" as vars;

.listing-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 100px;
}

.listing-routes-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

@media (max-width:768px) {
    .listing-wrapper{
        margin-top: 0;
    }
    .listing-routes-wrapper {
        padding: 20px;
        flex-direction: column;
    }
}